<div class="row">
  <p>User detail component</p>
  <!-- <div class="col-sm-12">
    <h2>Bienvenido {{ user.name }} {{ user.lastName }}</h2>
    <div class="row mt-4" *ngIf="posts && !isLoading">
      <div class="col-sm-12 col-md-4" *ngFor="let post of posts">
        <div class="card border-dark mb-3" style="max-width: 20rem;">
          <div class="card-header">{{ post.title }}</div>
          <div class="card-body">
            <h4 class="card-title">Dark card title</h4>
            <p class="card-text">{{ post.body }}</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
