<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">El blog de ICBR</h1>
    <p class="lead">
      Welcome to my blog, we cover different topics about Dinosaurs.
    </p>
  </div>
</div>

<div class="row my-4">
  <div class="col-12">
    <h4 class="text-center mb-3">
      Es necesario iniciar sesion para crear o comentar posts!
    </h4>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <small id="emailHelp" class="form-text text-muted"
          >We'll never share your email with anyone else.</small
        >
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
